# JavaScript files
*.js
!jest.config.js

# TypeScript declaration files
*.d.ts

# Node modules
node_modules/

# CDK asset staging directories
.cdk.staging/
cdk.out/

# Build output
dist/
coverage/

# Environment files
.env*
*.log
.aws/